<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
      <div class="d-flex align-items-center">
        <div class="avatar-lg me-4">
          <img src="@@path/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
            alt="Bonnie Green">
        </div>
        <div class="d-block">
          <h2 class="h5 mb-3">Hi, Jane</h2>
          <a href="@@path/pages/examples/sign-in.html"
            class="btn btn-secondary btn-sm d-inline-flex align-items-center">
            <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
              </path>
            </svg>
            Sign Out
          </a>
        </div>
      </div>
      <div class="collapse-close d-md-none">
        <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
          aria-expanded="true" aria-label="Toggle navigation">
          <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item">
        <a href="@@path../../index.html" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon">
            <i class="bi bi-grid"></i>
          </span>
          <span class="mt-1 ms-1 sidebar-text">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="../" class="nav-link">
          <span class="sidebar-icon text-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-90deg-left" style=" color:khaki;" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
            </svg>
          </span>
          <span class="sidebar-text">Parent</span>
        </a>
      </li>
      <li class="nav-item @@if (context.page === 'index') { active }">
        <a href="@@path/pages/CrudStaticColumn/index.html" class="nav-link">
          <span class="sidebar-icon text-danger">
            <i class="bi bi-speedometer2"></i>
          </span>
          <span class="sidebar-text">Dashboard</span>
        </a>
      </li>






      <li class="nav-item">
        <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
          data-bs-target="#submenu-showOnly">
          <span>
            <span class="sidebar-icon text-success"><i class="bi bi-plus-circle-fill"></i></span>
            <span class="sidebar-text">ShowOnly</span>
          </span>
          <span class="link-arrow text-muted">
            <i class="bi bi-chevron-right"></i>
          </span>
        </span>
        <div class="multi-level collapse @@if (context.page_group === 'showOnly') { show }" id="submenu-showOnly"
          role="list" aria-expanded="false" data-bs-parent="#sidebarMenu">
          <ul class="flex-column nav">
            <li class="nav-item @@if (context.page === 'showOnly') { active }">
              <a class="nav-link d-flex align-items-center" href="@@path/pages/CrudStaticColumn/showOnly.html">
                <span class="sidebar-text-contracted text-secondary">S</span>

                <span class="sidebar-text">showOnly</span>
              </a>
            </li>

            <li class="nav-item @@if (context.page === 'ShowOnlyWithOpts') { active }">
              <a class="nav-link d-flex align-items-center" href="@@path/pages/CrudStaticColumn/showOnlyWithOpts.html">
                <span class="sidebar-text-contracted text-success">WO</span>
                <span class="sidebar-text">WithOpts</span>
              </a>
            </li>

            <li class="nav-item @@if (context.page === 'ShowOnlyWithSerial') { active }">
              <a class="nav-link d-flex align-items-center"
                href="@@path/pages/CrudStaticColumn/showOnlyWithSerial.html">
                <span class="sidebar-text-contracted text-info">WS</span>
                <span class="sidebar-text">WithSerial</span>
              </a>
            </li>

            <li class="nav-item @@if (context.page === 'ShowOnlyWithOptsAndSrNo') { active }">
              <a class="nav-link d-flex align-items-center"
                href="@@path/pages/CrudStaticColumn/showOnlyWithOptsAndSrNo.html">

                <span class="sidebar-text-contracted text-gray-400">OS</span>
                <span class="sidebar-text">WithOptsAndSrNo</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
          data-bs-target="#submenu-FooterCreate" aria-expanded="false">
          <span>
            <span class="sidebar-icon text-info"><i class="bi bi-eye-fill"></i></span>
            <span class="sidebar-text">FooterCreate</span>
          </span>
          <span class="link-arrow text-muted">
            <i class="bi bi-chevron-right"></i>
          </span>
        </span>
        <div class="multi-level collapse @@if (context.page_group === 'FooterCreate') { show }"
          id="submenu-FooterCreate" role="list" aria-expanded="false" data-bs-parent="#sidebarMenu">
          <ul class="flex-column nav">
            <li class="nav-item @@if (context.page === 'footerCreateNew') { active }">
              <a href="@@path/pages/CrudStaticColumn/footerCreateNew.html" class="nav-link">
                <span class="sidebar-text-contracted text-warning">f</span>
                <span class="sidebar-text">footerCreateNew</span>
              </a>
            </li>

            <li class="nav-item @@if (context.page === 'FootCreateInput') { active }">
              <a href="@@path/pages/CrudStaticColumn/FootCreateInput.html" class="nav-link">
                <span class="sidebar-text-contracted text-danger">F</span>
                <span class="sidebar-text">FootCreateInput</span>
              </a>
            </li>
          </ul>
        </div>
      </li>



      <li class="nav-item @@if (context.page === 'crudStaticColDL') { active }">
        <a href="@@path/pages/CrudStaticColumn/crudStaticColDL.html" class="nav-link">
          <span class="sidebar-icon text-danger">
            <i class="bi bi-card-list" style="color:aqua;"></i>
          </span>
          <span class="sidebar-text">CrudStaticColumn</span>
        </a>
      </li>

      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>

    </ul>
  </div>
</nav>